@model MvcPizzaApp.Models.DogViewModel 

<h1>Hello World bro!</h1>
<p>This is the index page of the HelloWorld Controller</p>
<h4>a dog named @Model.Name says hello</h4>
<h4>@Model.Name is @Model.Age year old</h4>